@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.header, .footer, .main {
  padding: 10px 20px;
}

.header, .footer {
  display: flex;
  align-items: center;
}

.header {
  background-color: #ce403a;
  gap: 20px;
}
.main {
  display: flex;
  flex-wrap: wrap;
}